#footer, #subFooter {
	clear: both;
	}
#subFooter {
  width: 960px;
  text-align: left;
  position: relative;
  margin: 0 auto;
  font-size: 10px; /* 10px */
  line-height: 18px;
  font-family: Helvetica,Arial,sans-serif;
}
#footer {
  background-color: #000;
  color: #ccc;  
  padding: 5px 0;
  font-size: 12px; /* 12px */
  line-height: 16px; /* 16px */
  overflow: hidden;
  font-family: Helvetica,Arial,sans-serif;
  width: 960px;
  text-align: left;
  position: relative;
  margin: 0 auto;
}
#footer a, #footer h3 {
  color: #cbea60;
}
#footer .section {
  width: 240px;
  float: left;
  padding: 15px 20px;
  margin: 0;
}
#footer ul.col {
  width: 100px;
  list-style-type: disc;
  padding-right: 15px;
}
#footer ul.col2 {
  padding-right: 0;
}
#footer ul.col li {
  background-image: none;
  padding-left: 0;
  margin-left: 15px;
}
#footer ul.col li a {
  display: block;
}
#footer #section-tools {
  width: 260px;
  padding-right: 10px;
}
#footer #section-tools ul.col1 {
  width: 70px;
}
#footer #section-tools ul.col2 {
  width: 165px;
}
#footer #section-media {
  float: left;
  width: 350px;
  padding: 15px;
  background: #262626;
}
#footer #section-media .footer {
  padding-top: 0;
  border: 0;
  text-align: right;
}
#footer #section-resources {
  float: right;
  padding-left: 0;
}
#footer .footer {
  padding: 0;
}
#footer .listMedia .wide .figure {
  border: 2px solid #fff;
  padding: 0;
}
#footer .listMedia li, #footer .listMedia li a {
  color: #ccc;
  margin-bottom: 0;
}
#footer .listMedia li a:hover {
  color: #fff;
  text-decoration: none;
}
#footer .mediaNav {
  position: absolute;
  background: url(http://www.duke.edu/sites/all/themes/blackwell/images/struct/btn-listNav.png) no-repeat 0 0;
  text-indent: -9999px;
  top: 45px;
  height: 40px;
  width: 40px;
}
#footer #mediaPrev {
  left: -20px;
}
#footer #mediaPrev:hover {
  background-position: 0 -40px;
}
#footer #mediaNext {
  left: 360px;
  background-position: -40px 0;
}
#footer #mediaNext:hover {
  background-position: -40px -40px;
}
#subFooter {
  color: #666;
  padding: 20px 0 20px 115px;
  width: 845px;
}
#subFootLinks,#socialLinks {
  margin: 0;
  list-style-type: none;
  float: right;
  text-align: right;
}
#socialLinks {
	margin-left: 20px;
}
#socialLinks li {
	padding: 0 0 0 .25em;
}
#subFootLinks li, #subFootLinks ul,
#socialLinks li, #socialLinks ul {
  display: inline;
  background: none;
}
#subFootLinks li {
  padding: 0 10px 0 10px;
  background-image: none;
  border-left: 1px solid #dadada;
}
#subFootLinks li.noBorder {
  border-left: 0;
  padding-left: 0;
}
#subFootLinks li.last {
  padding-right: 0;
}
#subFootLinks li.first {
  border-left:0;
}
#subFootLinks li ul li {
  padding: 0;
  border: 0px;
}
#subFootLogo {
  display: block;
  width: 100px;
  height: 42px;
  background: url(http://www.duke.edu/sites/all/themes/blackwell/images/struct/logo-subFooter.png) no-repeat 0 0;
  text-indent: -9999px;
  position: absolute;
  left: 0;
  top: 10px;
}
#footer .section, #footer .section .header, #footer .section .footer {
  position: relative;
}
#footer .section {
  margin:  0;
}
#footer .col {
	float: left;
}
#footer ul {
	margin: 5px 0;
	position: relative;
}
#footer ul li {
  position: relative;
  padding-left: 15px;
  background: url(http://www.duke.edu/sites/all/themes/blackwell/images/struct/bg-li.png) no-repeat 5px 7px;
  margin: 0 0 3px 0;
}
.headlineImage {
  text-indent: -9999px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
#footer #section-media h3.headlineImage {
  text-indent: 0;
}
#footer #section-media h3.headlineImage a {
  text-indent: -9999px;
  display: block;
  width: 140px;
  height: 15px;
}
#footer h3 {
  background: #000 url(http://www.duke.edu/sites/all/themes/blackwell/images/headlines/hd-footer.png) no-repeat;
  color: #fff;  
font-size: 1.333em; /* 16px */
  line-height: 1.25;
  font-weight: 700;
  overflow: hidden;
  height: 15px;
  margin: 0 0 6px 0;
}
#section-media h3 { background-position: 0 -15px;background-color: #262626;color: #fff;}
#section-resources h3 { background-position: 0 -30px; }

#footer a, #subFooter a {
	text-decoration: none;
}
#footer a:focus, #footer a:hover,
#subFooter a:focus, #subFooter a:hover{
	text-decoration:underline;
}
#footer ul.listItems {
  list-style-type: none;
  margin: 0;
}
#footer ul.listItems li{
  margin: 0 0 20px 0;
  padding: 0;
  background-image: none;
}
#footer ul.listItems h3 {
  font-size: 1.16667em; /* 14px */
  font-weight: normal;
}
#footer ul.listNews .wide {
  padding-left: 90px;
}
#footer ul.listNews .wide .figure {
  float: left;
  margin-top: 4px;
  margin-left: -90px;
}
#footer ul.listEvents .wide {
  padding-left: 65px;
}
#footer ul.listEvents .wide .meta {
  float: left;
  width: 50px;
  margin-left: -65px;
  line-height: 1.6;
  padding-top: 2px;
}
#footer ul.listEvents .wide .meta * {
  display: block;
}
#footer ul.listArticles .wide {
  padding-left: 180px;
}
#footer ul.listArticles .wide .figure {
  float: left;
  margin-left: -180px;
}
#footer ul.listMedia .wide {
 padding: 0;
}
#footer ul.listMedia .wide img.figure {
 margin: 0 10px 10px 0;
  float: left;
  position: relative;
}
#footer ul.listMedia .description {
  display: block;
  margin: 0 0 10px 0;
}
#footer .hide {
  display: none;
}
cite.meta {
  margin: 0 0 7px 0;
  display: block;
}
#subFooter p {
  margin: 0 0 0.75em;
}