/* @group resets and reused styles */

#header-global * { margin:0; padding:0 }
#header-global div, #header-global span, #header-global h1, #header-global h2, #header-global p, #header-global ul, #header-global ol, #header-global li, #header-global form, #header-global input, #header-global button { margin:0; padding:0;border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline }
#search-inHeader:after { content: ''; display:none; height: 0; clear: none; visibility:hidden }
#header-global a img, #header-global frameset{border:0}
#header-global q:before, #header-global q:after{content:""}
#header-global q{quotes:"" ""}
#header-global a img{border:none}
#header-global iframe{margin: 10px 0}

#header-global-wrapInner, .skipNav { display: none; }
#header-global a {
  color: #c3cde3;
  outline: none;
}
#header-global a img { border: 0; }
#header-global a:hover {
  text-decoration: underline;
  color: #fff;
}
#header-global .break, #header-global .subNav a, #header-global ol#nav-globalHeader a { display: block; }
#header-global a, #headerAddressInfo a:hover, #header-global .subNav li.footer a:hover { text-decoration: none; }
#headerAddressInfo a, #header-global .subNav li.footer a { text-decoration: underline; }

/* @end */

/* @group basic structure */

#header-global {
  text-align: left;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  width: 960px;
  margin: 0 auto 3px;
  padding-bottom: 5px;
  font-family: Helvetica, Arial, sans-serif;
  background: #001a57 url(../images/struct/bg-header-global-nologo.jpg) no-repeat bottom center;
}
#headerAddressInfo, #headerPrimaryInfo { 
  clear: both; 
}
#header-global .subNav, #header-global ol#nav-globalHeader { 
  float: left; 
  list-style-type: none;
  margin: 0;
}
#header-global-wrapInner {
 width: 950px;
}
/* @end */


/* @group link lists */

ol#nav-globalHeader, li.header {
  font-size: 16px;
}

/* @group main nav */

ol#nav-globalHeader {
  padding: 15px 20px 0 20px;
  width: 125px;
}
ol#nav-globalHeader li a {
  padding: 5px 0 5px 0;
}
ol#nav-globalHeader li {
  zoom: 1;
}

/* @end */

#header-global .subNav {
  padding: 20px 20px 10px 0;
  width: 175px;
  line-height: 14px;
}
#header-global .subNav li {
  zoom: 1;
  background: url(../images/struct/bg-header-global-li.png) no-repeat 0 9px;
  padding-left: 10px;
  color: #FFFFFF;
}
#header-global .subNav li a {
  font-size: 12px;
  padding: 3px 0 4px 0;
  opacity: .99;
}

#header-global .subNav li.header {
  padding: 0 0 8px 0;
  margin: 0;
  background-image: none;
}

#header-global .subNav li.header a {
  opacity: 1;
  font-weight:bold;
  color:#FFF;
}

#header-global .subNav li.header a:hover {
  text-decoration:none;
}

#header-global .subNav li.footer {
  background-image: none;
  text-transform: uppercase;
  margin: 0;
  padding: 4px 0;
}
#header-global .subNav li.footer a {
  font-size: 10px;
}
#toolsAndResources {
  width: 370px;
  float: right;
  padding: 0 20px 20px 0;
  position: relative;
}
#toolsAndResources .subNav {
  width: 110px;
}
#header-global #resourcesForNav {
  padding-right: 0;
}

/* @end */

/* @group address info */

#header-global #headerAddressInfo {
  text-align: right;
  padding: 0 10px 8px 0;
}
#header-global .listIcons {
  list-style-type: none;
  margin: 5px 0 0 0;
  display: inline;
  padding: 0 0 0 15px;
  position: relative;
  top: 4px;
}
#header-global .listIcons li {
  display: inline;
  padding: 0;
  margin: 0;
}
#header-global .listIcons li a:hover{
  position: relative;
  top: -1px;
}
#subFooter .listIcons li {
  position: relative;
  top: 5px;
  margin: 0;
}
#headerAddressInfo em.divider {
  color: #4a76dc;
}
/* @end */

/* @group search form */
#toolsAndResources form {
  display: block;
  padding: 20px 0 35px;
}
#search-inHeader label.inField {
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
  top: 2px;
  color: #899ed0;
  left: 0;
}
#header-global #search-field {
  width: 330px;
  border: 0;
  float: left;
  height: 17px;
  padding: 4px;
  font-size: 13px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #fff url(../images/struct/bg-search-field.png) no-repeat 0 0;
  color: #808080;
  font-family: Trebuchet, "Trebuchet MS", Tahoma, Lucida, Helvetica, Arial, sans-serif;
}
#header-global #search-go {
  background: url(../images/struct/btn-search-go.png) no-repeat 0 0;
  display: block;
  text-indent: -9999px;
  height: 25px;
  width: 30px;
  font-size: .01px;
  padding: 0;
  border: 0;
  float: left;
  cursor: pointer;
}
 #header-global #search-go:hover {
  background-position: 0 -25px;	
}
/* @end */

/* @group primary info */

#header-global #logo {
 display: none;
}
#headerPrimaryInfo {
  height: 40px;
  position: relative;
}
#headerPrimaryInfo #browseAll {
  /*width: 290px; changed 9/7/2010 */
  width: 303px;
  height: 40px;
  display: block;
  background: url(../images/struct/btn-headerGlobal.png) no-repeat 0 0;
  position: absolute;
  /*top: 0; changed 9/7/2010 */
  top: -7px;
  text-indent: -9999px;
  right: 0;
}
#headerPrimaryInfo #browseAll:hover {
  /*background-position: -290px 0; changed 9/7/2010 */
  background-position: -289px 0;
}
#headerPrimaryInfo #browseAll.open {
  background-position: -580px 0;
  width: 100px;
  top: -7px;
}
#headerPrimaryInfo #browseAll.open:hover {
  background-position: -680px 0;
}

/* @end */