/* template 1 */

*{margin:0; padding:0; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .btn{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
a img {border:0}

/* Utility styles, like clearfix, that are useful and re-useable */
.clearfix:after, #content:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both}

.left{float:left !important}
img.left, a.left img, #main #content img {margin:0 16px 16px 0}
.right{float:right !important}
img.right, a.right img{margin:0 0 16px 16px}
img.border { border: 1px solid #6e6e6e;}
.hide{display:none}

.small{font-size:.8em;margin-bottom:1.875em;line-height:1.875em}
.large{font-size:1.2em;line-height:2.5em;margin-bottom:1.25em}


h1, h2, h3, h4, h5, h6 { 
  line-height: 1em;
  background-color: #ffffff;
}
h2, h3, h4, h5, h6 {
font-weight: bold;
background-color: #ffffff;
}
h1 {
  font-size: 3.6667em;
  margin: 20px 0 10px 0;
}
h2 {
  font-size: 1.9em;
  color: #001a57;
  margin: 0 0 1em 0;
font-weight: normal;
}
h3 {
font-size: 1.4em;
  color: #a1b70d;
  line-height: 1.25;
  margin-bottom: 6px;
}
h4 {
  font-size: 1.3em; 
color: #001a57;
}
h5 {
  font-size: 1.2em;
color: #3f3838;
}
h6 {
  font-size: 1.1em;
}

a{text-decoration:none; color:#0736a4;}
a:focus, a:hover{text-decoration:underline}
a[class], a[id]{outline:none}

body{font-size:62.5%;line-height: 1.5;text-align: center;position: relative;}
body.shadowBackground {background: #ffffff url(../images/struct/bg-body-shadowBackground.png) no-repeat top center; color: #5b5b5b;}
#pagewrapper {
width: 960px;
	margin: 0 auto;
	position: relative;
	text-align: left;
  font-family: Arial, sans-serif;
letter-spacing: 0.05em;
}
#header {
  height: 110px;
  background: #001a57 url(../images/struct/bg-header.jpg) no-repeat 0 0;
  margin-bottom: 5px;
  color: #5b5b5b;
}
#header h1, #header .site-title {
	background: url(../images/sakai_header.png) no-repeat 1.25em 0.5em;
	outline: none;
	width: 500px;
	height: 54px;
float: left;
margin-top: 25px;
border-left: 1px solid #ffffff;
text-indent: -9000px;
}
#header h1 a{
display: block;
	height: 54px;
}
#header p {
	background: url(../images/struct/logo.png) no-repeat 0 0;
	outline:none;
	width: 138px;
	height: 64px;
float: left;
margin: 20px 15px 20px 20px;
}
#header p a{
	display: block;
	height: 67px;
}
#logo p a img{
	position: absolute;
	left: -9999px;
}
#wrapper {font-size: 1.3em;}
#nav {width: 960px; clear: both; height: 32px;}
#nav ul {
width: 960px;
}
#nav ul li {
display: inline;
margin: 0;
padding: 0;
float: left;
width: 20%;
}
#nav a {
color: #728302; text-transform: uppercase; font-size: 80%;
text-align: center;
padding: 8px 0;
display: block;
border-right: 1px solid #c7c3c3;
background: #f1f2df url(../images/struct/background-nav.gif) repeat-x 0 0;
}
#nav a.last {
border: 0;
}
#nav a:hover, #nav a.current {
background: none;
background-color: #fafaf5;
text-decoration: none;
color: #001a57;
}

#content {
padding: 25px 0 30px 0;
margin-bottom: 30px;
}
.home #content {
border-bottom: 1px solid #b5b5b5;
clear: both;
height: 1%;
}
#main #content {
float: left;
width: 720px;
}
#content h2 {
margin: 0 0 12px 0;
padding-bottom: 3px;
}
#content h2 a, #content h2 a:focus, #content h2 a:hover, #content h2 a:active {
color: #001a57;
text-decoration: none;
background-color: #ffffff;
}
#content h2, #content h3, #content h4, #content h5, #content h6, #content p {
margin-left: 20px;
margin-bottom: 5px;
}
.home #content h2 {
margin-top: 21px;
margin-left: 0;
}
.home #content p {
margin-left: 0;
}
#content img {
  background-color: #e6e4db;
  border: 1px solid #b8b8b8;
  padding: 3px;
}
#content img.landing {
float: left;
}
#content ul {
margin-left: 30px;
}
#content p {
margin-bottom: 20px;
}
#sidebar {
float: right;
width: 200px;
margin-top: 30px;
margin-right: 5px;
}
#sidebar ul {
border-top: 1px solid #d3d8a5;
}
#sidebar ul li {
list-style: none;
border-bottom: 1px solid #d3d8a5;
padding: 7px 0;
margin: 0;
font-size: 90%;
}
#sidebar a {
color: #728302;
background-color: #ffffff;
padding-left: 10px;
display: block;
}
#sidebar a:hover, #sidebar a.current {
text-decoration: none;
color: #001a57;
display: block;
background: #ffffff url(../images/struct/bullet.gif) no-repeat 0 0.5em;
}
.col {
float: left;
width: 310px;
margin-right: 14px;
}
.col.last {margin: 0;}

.col h2, .col p {
padding: 0 15px;
}
.col .cat {
font-weight: bold;
}

#search-inBanner {
/*  width: 320px;*/ 
 position: absolute;
  top: 41px;
  left: 695px;
  z-index: 1;
}
#search-inBanner label.inField {
  position: absolute;
  text-transform: uppercase;
  top: -14px;
  color: #899ed0;
  left: 0;
}
#search-field-banner {
  width: 200px;
  border: 0;
  float: left;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  height: 17px;
  padding: 4px 4px 4px 10px;
  margin: 0;
  font-size: 110%;
  background: #ffffff url(../images/struct/bg-search-field.png) no-repeat 0 0;
  color: #808080;
  font-family: Trebuchet, "Trebuchet MS", Tahoma, Lucida, Helvetica, Arial, sans-serif;
}
#search-go-banner {
  background: url(../images/struct/btn-search-go.png) no-repeat 0 0;
  display: block;
  text-indent: -9999px;
  height: 25px;
  width: 30px;
  font-size: .01px;
  padding: 0;
  border: 0;
  margin: 0;
  float: left;
  cursor: pointer;
}
#search-go-banner:hover {
  background-position: 0 -25px;	
}



/* Sakai Login ++++++++++ */

#login {
	float: right;
	width: 193px;
	margin: 20px 16px 0 0;
}

#login .duke-login {
	margin: 0 0 10px 0;
	text-align: center;
	width: 193px;
	height: 44px;
}


/* +++ Big Login Button +++ */

/*
#login {
	float: right;
	width: 250px;
	margin: 25px 25px 0 0;
}

#login .duke-login {
	margin: 0 0 10px 0;
	text-align: center;
	width: 250px;
	height: 60px;
}
*/


#login .duke-login a {
	display: block;
	background: url(../images/large_btn.png) no-repeat;
	/*background: url(../images/large_btn2.png) no-repeat;*/
	color: #fff;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	/*font-size: 18px;*/
	text-decoration: none;
	line-height: 44px;
	line-height: /*60px*/;
}

#login .duke-login a:hover {
	text-decoration: none;
	background: url(../images/large_btn.png) no-repeat 0 -44px;
	/*background: url(../images/large_btn2.png) no-repeat 0 -61px;*/
}


#login .guest-login {
	/*text-align: center;*/
	text-align: right;
	padding: 0 5px 0 0; /*temp*/
	width: 193px;
	color: #fff;
	margin: 5px 0 0 0;
	display: block;
}


#login .guest-login a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 0 5px 0 5px;
}

#login .guest-login a:hover {
	text-decoration: underline;	
}



/* Feature box ++++++++++ */

.feature {
	margin: -15px 0 0 0;
	padding: 25px;
	width: 904px;
	float: left;
	border: 3px solid #dad0c6;
	background: #f3f0ed url(../images/feature_bg.jpg) repeat-x;
	overflow: hidden;
}

#content .feature img {
	float: left;
	margin: 0 40px 0 0;
	background: 0;
	border: none;
	padding: 0;
}

#content .feature h2 {
	color: #988675;
	text-transform: uppercase;
	font-size: /*35px*/ 40px;
	font-weight: bold;
	font-family: ;
	background: none;
	margin: /*25px*/ 15px 0 15px 0;
}

#content .feature p {
	color: #988675;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

#content .feature .sub-text {
	display: block;
	float: left;
	color: #988675;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px 7px 0 0;
	margin: 0 0 0 0;
}


#content .feature ul {
	margin: 0 0 0 450px;	
}

#content .feature ul li,
#content .feature ul li a {
	color: #988675;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#content .feature ul li a {
	border-bottom: 1px dotted #988675;	
}

#content .feature ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid #988675;
}

#content .feature ul {
}

/*
.feature .btn {
	display: block;
	float: left;
	color: #fff;
	text-align: center;
	text-transform:uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	background: url(../images/button_small.png) no-repeat;
	width: 136px;
	margin: 20px 0 0 0;
	padding: 0;
}

.feature .btn:hover {
	text-decoration: none;
	background: url(../images/button_small.png) no-repeat 0 -26px;
}
*/


.feature .med-btn {
	display: block;
	float: left;
	color: #fff;
	text-align: center;
	text-transform:uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	background: url(../images/button_small2.png) no-repeat;
	width: 165px;
	margin: 20px 0 0 0;
	padding: 0;
}

.feature .med-btn:hover {
	text-decoration: none;
	background: url(../images/button_small2.png) no-repeat 0 -26px;
}


/* Columns ++++++++++ */

.col1, .col2, .col3 {
	width: 310px;
	padding: 0;
	margin: 15px 15px 0 0;
	float: left;
}

.col1 h3, .col2 h3, .col3 h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #001a57;
	margin:0 0 0 0;
	padding: 0 0 .5em 0;
	background: none;
}

#content .col1 p, #content .col2 p {
	margin: 0 15px 0 15px;	
}

#content .col1 h3, #content .col2 h3 {
	margin: 0 15px 0 15px;	
}

#content .col3 h3 {
	margin: 0 0 0 0;	
}

.col3 {
	width: 284px;
	padding: 10px;
	margin: 15px 0 0 0;
	border: 3px solid #ece7e2;
	background: #f5f2ee;
}

#content .col1 img, #content .col2 img, #content .col3 img {
	border: 3px solid #dad0c6;
	margin: 0 0 20px 0;
	padding:0;
}


.rss-box {
	margin:0;
	padding:0;
}

#content .rss-items {
    margin-left: 0;
}

.rss-items {
	list-style: none;
	margin:0;
	padding:0;
}

.rss-item {
	color: #5b5b5b;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0 0 1em 0;
	margin:0;
}

.rss-item a:hover {
	text-decoration: underline;	
}

.rss-date {
	color: #888;
	font-style: italic;
}



#footer, #subFooter {
    clear: both;
}
#subFooter {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    line-height: 18px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 960px;
}
#footer {
    background-color: #000000;
    color: #CCCCCC;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    text-align: left;
    width: 960px;
}
#footer a, #footer h3 {
    color: #CBEA60;
}
#footer .section {
    float: left;
    margin: 0;
    padding: 15px 20px;
    width: 240px;
}
#footer ul.col {
    list-style-type: disc;
    padding-right: 15px;
    width: 100px;
}
#footer ul.col2 {
    padding-right: 0;
}
#footer ul.col li {
    background-image: none;
    margin-left: 15px;
    padding-left: 0;
}
#footer ul.col li a {
    display: block;
}
#footer #section-tools {
    padding-right: 10px;
    width: 260px;
}
#footer #section-tools ul.col1 {
    width: 70px;
}
#footer #section-tools ul.col2 {
    width: 165px;
}
#footer #section-media {
    background: none repeat scroll 0 0 #262626;
    float: left;
    padding: 15px;
    width: 350px;
}
#footer #section-media .footer {
    border: 0 none;
    padding-top: 0;
    text-align: right;
}
#footer #section-resources {
    float: right;
    padding-left: 0;
}
#footer .footer {
    padding: 0;
}
#footer .listMedia .wide .figure {
    border: 2px solid #FFFFFF;
    padding: 0;
}
#footer .listMedia li, #footer .listMedia li a {
    color: #CCCCCC;
    margin-bottom: 0;
}
#footer .listMedia li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#footer .mediaNav {
    background: url("../images/btn-listNav.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    position: absolute;
    text-indent: -9999px;
    top: 45px;
    width: 40px;
}
#footer #mediaPrev {
    left: -20px;
}
#footer #mediaPrev:hover {
    background-position: 0 -40px;
}
#footer #mediaNext {
    background-position: -40px 0;
    left: 360px;
}
#footer #mediaNext:hover {
    background-position: -40px -40px;
}
#subFooter {
    color: #666666;
    padding: 20px 0 20px 115px;
    width: 845px;
}
#subFootLinks, #socialLinks {
    float: right;
    list-style-type: none;
    margin: 0;
    text-align: right;
}
#socialLinks {
    margin-left: 20px;
}
#socialLinks li {
    padding: 0 0 0 0.25em;
}
#subFootLinks li, #subFootLinks ul, #socialLinks li, #socialLinks ul {
    background: none repeat scroll 0 0 transparent;
    display: inline;
}
#subFootLinks li {
    background-image: none;
    border-left: 1px solid #DADADA;
    padding: 0 10px;
}
#subFootLinks li.noBorder {
    border-left: 0 none;
    padding-left: 0;
}
#subFootLinks li.last {
    padding-right: 0;
}
#subFootLinks li.first {
    border-left: 0 none;
}
#subFootLinks li ul li {
    border: 0 none;
    padding: 0;
}
#subFootLogo {
    background: url("../images/logo-subFooter.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 42px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 10px;
    width: 100px;
}
#footer .section, #footer .section .header, #footer .section .footer {
    position: relative;
}
#footer .section {
    margin: 0;
}
#footer .col {
    float: left;
}
#footer ul {
    margin: 5px 0;
    position: relative;
}
#footer ul li {
    background: url("../images/bg-li.png") no-repeat scroll 5px 7px transparent;
    margin: 0 0 3px;
    padding-left: 15px;
    position: relative;
}
.headlineImage {
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#footer #section-media h3.headlineImage {
    text-indent: 0;
}
#footer #section-media h3.headlineImage a {
    display: block;
    height: 15px;
    text-indent: -9999px;
    width: 140px;
}
#footer h3 {
    background: url("../images/hd-footer.png") no-repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-size: 1.333em;
    font-weight: 700;
    height: 15px;
    line-height: 1.25;
    margin: 0 0 6px;
    overflow: hidden;
}
#section-media h3 {
    background-color: #262626;
    background-position: 0 -15px;
    color: #FFFFFF;
}
#section-resources h3 {
    background-position: 0 -30px;
}
#footer a, #subFooter a {
    text-decoration: none;
}
#footer a:focus, #footer a:hover, #subFooter a:focus, #subFooter a:hover {
    text-decoration: underline;
}
#footer ul.listItems {
    list-style-type: none;
    margin: 0;
}
#footer ul.listItems li {
    background-image: none;
    margin: 0 0 20px;
    padding: 0;
}
#footer ul.listItems h3 {
    font-size: 1.16667em;
    font-weight: normal;
}
#footer ul.listNews .wide {
    padding-left: 90px;
}
#footer ul.listNews .wide .figure {
    float: left;
    margin-left: -90px;
    margin-top: 4px;
}
#footer ul.listEvents .wide {
    padding-left: 65px;
}
#footer ul.listEvents .wide .meta {
    float: left;
    line-height: 1.6;
    margin-left: -65px;
    padding-top: 2px;
    width: 50px;
}
#footer ul.listEvents .wide .meta * {
    display: block;
}
#footer ul.listArticles .wide {
    padding-left: 180px;
}
#footer ul.listArticles .wide .figure {
    float: left;
    margin-left: -180px;
}
#footer ul.listMedia .wide {
    padding: 0;
}
#footer ul.listMedia .wide img.figure {
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
}
#footer ul.listMedia .description {
    display: block;
    margin: 0 0 10px;
}
#footer .hide {
    display: none;
}
cite.meta {
    display: block;
    margin: 0 0 7px;
}
#subFooter p {
    margin: 0 0 0.75em;
}



#header-global {
    background: url("../images/struct/bg-header-global-nologo.jpg") no-repeat scroll center bottom #001A57;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto 3px;
    padding-bottom: 5px;
    text-align: left;
    width: 960px;
}

#headerPrimaryInfo {
    height: 40px;
    position: relative;
}

#headerAddressInfo, #headerPrimaryInfo {
    clear: both;
}

#headerPrimaryInfo #browseAll {
    background: url("../images/struct/btn-headerGlobal.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: -7px;
    width: 303px;
}